[submodule "neko"]
	path = neko
	url = git@github.com:gbrian/neko.git
[submodule "apprtc"]
	path = apprtc
	url = git@github.com:gbrian/apprtc.git
[submodule "nodejs-videochat"]
	path = nodejs-videochat
	url = git@github.com:gbrian/nodejs-videochat.git
